# Stellar Network Configuration
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# Deployed Contract IDs (Can also be loaded from contracts.json)
VITE_CONTRACT_ID=CCCBBGS27DSTKSCY4ERJXZBLZHVBPDYTBB3O3HDI73NUB5HXSSELZOQ7
VITE_NOTIFIER_CONTRACT_ID=CBFWTBGZUQIVJ7SD6ZG6H33O7GKM7S6VIEAMCW6EHUE5DH7G4SLULTKW
